h1, h2, h3, p, a, button{
  font-family: 'Montserrat', sans-serif;
}

.App-header{
  width: 100vw;
  top: 0;
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

}
.header-nav-items{
  display: flex;
  column-gap: 50px;
}