:root{
  --text-charcoal: 
  #58585a;
  --text-window-white: rgba(255, 255, 255, .9);
}
h1, h2, h3, h4, p, a, button, p{
  font-family: 'Montserrat', sans-serif;
  color: var(--text-charcoal);
}
/* Headings */
h1{
  line-height: 3.5rem;
  font-size: 2.5rem;
  font-weight: 500;
}
h2{
  font-size: 2rem;
  font-weight: 500;
}
h3{
  font-size: 1.5rem;
}
p{
  font-size: 1.2rem;
  font-weight: 500;
}

button{
  font-weight: 500;
  max-width: 300px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}

button:hover{
  /* opacity: .7; */
  filter: saturate(1.8); /*hover effect for now*/
}

.inlineLogo{
  font-family: 'Mitr', sans-serif;
  font-weight: 300;
  color: #607692;
}

body{
  align-items: flex-start;
  flex-direction: flex;
  margin: 0;
}

[data-rk]{
  background-color: white;
  box-sizing: border-box;
}