/* Header*/
.App-header{
  width: 100vw;
  display: flex;
  /* position: sticky; */
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  box-shadow: inset 0px 0px 15px 0px #dddddd;
  box-sizing: border-box;

}
.header-nav-logo{
  font-size: 1.9rem;
  font-weight: 300;
  font-family: 'Mitr', sans-serif;
  color: #607692;
  text-transform: lowercase;
  /* color: var(--text-charcoal); #d28285, #7da49b */
}

.header-nav-items{
  display: flex;
  column-gap: 50px;
  font-size: 1.2rem;
  align-items: center;
  font-weight: 600;
}
.header-nav-items a{
  color: #617792;
  text-decoration: none;
}
.header-nav-items a:hover{
  color: #c5d8e8;
}

/*Rainboxkit button*/
[data-rk] .ju367vf2 {
  background-color: #ba4e5d !important;
  font-family: 'Montserrat', sans-serif !Important;
}