
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family:'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./assets/sogg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
