/* Titled Image */
.foldoutContainer{
    max-width: 100%;
    display: flex;
    padding: 0 4%;
}

.foldoutContainer > *{
width: 100%;
}
.foldoutImageContainer{
max-width: 200px;
box-sizing: border-box;
margin: auto;
text-align: center;
}

.foldoutImageContainer img{
max-width: 100%;
width: auto;
height: 150px;
text-align: center;
}

.foldoutImageTitle h3{
margin-bottom: 1rem;
text-align: center;
}

p.titledImageDescription{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0 15px;
}